header {
    position: relative;
    width: 100%;
    padding: 200px 8.33%;
    color: $purple;

    h1 {
        letter-spacing: 0.05em;
        font-weight: $bold;
        font-size: $title;
    }

    p {
        margin: 30px 0;
        max-width: 400px;
        letter-spacing: 0.02em;
        font-weight: $medium;
        font-size: $body;
    }

    button {
        color: white;
        width: 225px;
        height: 60px;
        border-radius: 30px;
        background-color: $purple;
        border: none;

        text-align: center;
        font-weight: $semibold;
        font-size: $subtitle;

        &:hover {
            background-color: #2D2350;
        }

        &:focus {
            outline: none;
        }
    }

    picture img {
        position: absolute;
        max-width: 610px;
        width: 60vw;
        right: 0;
        top: 0;
        z-index: -1;
    }

    .yellow {
        left: 30px;
        bottom: 0;
    }

    .blue--large {
        width: 120px;
        left: 45%;
    }

    .blue--small {
        right: 20px;
        bottom: 20px;
    }
}

@media(max-width: $med) {
    header {
        overflow-x: hidden;
        height: 115vw;
        padding: 100px 8.33%;

        picture img {
            width: 120vw;
            max-width: none;
            top: -20px;
            right: -20vw;
        }
    }
}

@media(max-width: $med) and (min-width: $small) {
    header {
        padding: 140px 8.33%;
        
        picture img {
            top: -50px;
        }

        h1 {
            font-size: $titleMed;
        }

        p {
            max-width: 270px;
            font-size: $body;
        }

        button {
            width: 200px;
            height: 50px;
            font-size: $body;
        }
    }
}

@media(max-width: $small) {
    header {
        h1 {
            font-size: $titleMob;
        }
    
        p {
            max-width: 270px;
            font-size: $bodyMob;
        }
    
        button {
            width: 140px;
            height: 40px;
            font-size: $bodyMob;
        }
    }    
}

