//colors
$purple: #392F5A;

//fonts
$dosis: 'Dosis', sans-serif;

$light: 300;
$medium: 500;
$semibold: 600;
$bold: 700;

$body: 18px;
$subtitle: 21px;
$titleMed: 40px;
$title: 51px;

$bodyMob: 14px;
$subtitleMob: 21px;
$titleMedMob: 27px;
$titleMob: 32px;

//breakpoints
$small: 576px;
$med: 768px;
$large: 992px;