@import './variables';
@import './nav';
@import './header';
@import './about';
@import './information';
@import './button';
@import './banner';
@import './footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $dosis;
}

html {
    scroll-behavior: smooth;
}

.shape {
    position: absolute;
}